@model IEnumerable<Quizer.Models.QuestionModelView>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Question.Text)
        </td>
        <td>
            @Html.DisplayFor(model => item.Category.Name)
        </td>
        <td>
            @{ string answers = ""; }
            @foreach (var answer in item.Answers)
            {
                answers += $"{answer.Text}";
            }
            @answers
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    </tr>
}
    </tbody>
</table>
